.cart {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
    margin-top: 16px;
    margin-bottom: 16px;
}

.cartItem {
    display: flex;
    align-items: center;
    /* justify-content: left; */
    text-align: left;
    background-color: white;
    border-radius: 8px;
    border-bottom-left-radius: 0;
    border-top-right-radius: 0;
    padding: 8px;
    width: 100%;
    justify-content: space-between;
}

.cartDishWrap {
    display: flex;
    flex-direction: row;
}

.dishPriceWrap {
    text-align: right;
    font-size: 18px;
    display: flex;
    flex-direction: column;
    gap: 4px;
    padding-right: 8px;
}

.cartDishPrice {
    font-size: 18px;
}

.dishQuantity {
    font-size: 18px;
}

.dishNameWrap {
    display: flex;
    flex-direction: column;
    gap: 4px;
    padding-left: 8px;
}

.orderBtn {
    /* position: absolute; */
    bottom: 0;
    right: 0;
    width: 184px;
    height: 60px;
    background-color: white;
    border: none;
    color: black;
    border-radius: 8px;
    border-bottom-left-radius: 0;
    border-top-right-radius: 0;

    font-family: inherit;
    font-size: 24px;
    z-index: -1;
}

.cartAddRemove {
    display: flex;
    align-items: center;
    /* justify-content: center; */
    text-align: center;
    flex-direction: row;
    width: calc(100%/2);
    height: 100%;
    gap: 48px;
    margin-left: 16px;
    /* font-size: 24px; */
}

.cartRemoveBtn {
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 24px;
    transition: 0.3s;
    color: black;
    font-family: 'Dance Script', cursive;
}

.cartRemoveBtn:hover,
.cartRemoveBtn:active {
    color: rgba(238, 237, 221, 0.7);
}


.dishQuantity {
    font-size: 16px;
}