.dish {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 240px;
    height: 260px;
    border-radius: 8px;
    background-size: cover;
    padding: 6px;
    padding-bottom: 36px;
    position: relative;
}

.name {
    font-size: 32px;
    display: flex;
    text-align: center;
}

.dishDescript {
    margin-top: 8px;
}

.dishPrice {
    text-align: center;
    font-size: 16px;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 48px;
    height: 28px;
    background-color: rgba(238, 237, 221, 1);
    border: none;
    color: black;
    border-radius: 8px;
    border-bottom-right-radius: 0;
    border-top-left-radius: 0;
}

.addButton {
    width: 120px;
    height: 28px;
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: rgba(238, 237, 221, 1);
    border: none;
    color: black;
    border-radius: 8px;
    border-bottom-left-radius: 0;
    border-top-right-radius: 0;
    font-family: 'Dancing Script';
    font-size: 20px;
}

/*-------*/
/* .dish:nth-child(1) {
    background-image: linear-gradient(rgba(238, 237, 221, 0.7), rgba(238, 237, 221, 0.7)), url(./img/Template-Size-for-Blog-Photos-13.jpg);
}

.dish:nth-child(2) {
    background-image: linear-gradient(rgba(238, 237, 221, 0.7), rgba(238, 237, 221, 0.7)), url(./img/Baked-Strawberry-Pie-1x1-1.jpg);
}

.dish:nth-child(3) {
    background-image: linear-gradient(rgba(238, 237, 221, 0.7), rgba(238, 237, 221, 0.7)), url(./img/__opt__aboutcom__coeus__resources__content_migration__serious_eats__seriouseats.com__recipes__images__2017__06__20170526-no-bake-cheesecake-vicky-wasik-18-89991c64ba544e19bc05c774c499438c.jpg);
}

.dish:nth-child(4) {
    background-image: linear-gradient(rgba(238, 237, 221, 0.7), rgba(238, 237, 221, 0.7)), url(./img/Homemade-Vanilla-Ice-Cream-Base-Recipe-2022-01.png.webp);
}

.dish:nth-child(5) {
    background-image: linear-gradient(rgba(238, 237, 221, 0.7), rgba(238, 237, 221, 0.7)), url(./img/brownie-cake.jpg);
}

.dish:nth-child(6) {
    background-image: linear-gradient(rgba(238, 237, 221, 0.7), rgba(238, 237, 221, 0.7)), url(./img/doughnuts-wallpaper-preview.jpg);
} */

/*----*/