header {
    position: fixed;
    top: calc(100% - 50px);
    left: 0;
    width: 100%;
    height: 100%;
    /* height: 50px; */

    background-color: rgba(238, 237, 221, 0.99);
    padding: 10px;
    color: #000;
    border-top-right-radius: 16px;
    border-top-left-radius: 16px;
    z-index: 1000;
    transition: top 0.5s ease-in-out;
    overflow: hidden;
}

.headerOpen {
    top: 0;
    /* height: 100vh; */
    overflow-y: auto;
}

.headerContainer {
    position: relative;
    height: 100%;
    padding: 0;
    overflow: auto;
}

.headerMenuBtn {
    border: none;
    background-color: transparent;
    display: flex;
    align-items: center;
}

.headerMenuIcon {
    transition: 500ms;
    left: 0;
    transform-origin: center;
    fill: rgb(200, 199, 188);
}

.headerMenuIconOpen {
    transform: rotate(180deg);
    fill: black;
}

.headerMenuIcon:active {
    fill: rgba(238, 237, 221, 0.95);
}

.headerNavigation {
    display: flex;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    /* color: #FFF; */
    color : black;
    margin-left: auto;
}

.logo>span {
    font-size: 25px;
    /* color: black; */
}

.headerOrdered {
    margin-top: 20px;
}

/* .orderBtn {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 184px;
    height: 60px;
    background-color: white;
        border: none;
        color: black;
        border-radius: 8px;
        border-bottom-left-radius: 0;
        border-top-right-radius: 0;

   font-family: inherit;
   font-size: 24px;
} */