/* .dishName {
    padding: 120px;
    background-size:auto;
    background-position-y: center;
} */

.dishHero {
    position: relative;
    width: 100%;
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: center;
    transition: 1s ease-in-out;
}

.heroImgRight {
    background-position-x: 90%;
}

.dishName,
.dishDescript {
    position: absolute;
    transition: transform 1s ease-in-out, opacity 1s ease-in-out;
    padding: 20px;
    background-size: cover;
    background-position: center;
    width: 100%;
    text-align: center;
    color: #333;
    font-size: 2rem;
}

.visibleName {
    transform: translateX(0);
    opacity: 1;
}

.hiddenName {
    transform: translateX(-100%);
    opacity: 0;
}

.hiddenDescr {
    transform: translateX(100%);
    opacity: 0;
}

.visibleDescr {
    transform: translateX(0);
    opacity: 1;
    background-position: right;
}

.toggleButton {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    transform-origin: center;
    background-color: transparent;
    border: none;
    cursor: pointer;
    fill: rgba(255, 255, 255, 0.7);
}

.toggleIcon {
    transition: 1s;
    transform-origin: center;
    text-align: center;
    rotate: 90deg;
}

.IconLeft{
    transform: rotate(180deg);
    /* transform-origin: center; */
}

.dishIngredients {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 120px;
}

.ingridientsList {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    text-transform: capitalize;
    background-color: rgba(238, 237, 221, 0.7);
    width: calc(100%/2);
    height: 100%;
    font-size: 18px;
    border-bottom-left-radius: 8px;
}

.ingridientsInfo {
    display: flex;
    align-items: center;
    justify-content: center;
    width: calc(100%/2);
    text-align: center;
    flex-direction: column;
    gap: 4px;
    /* font-size: 24px; */
}

.ingridientsTitle {
    font-size: 24px;
}

.ingridientsWeight {
    font-size: 16px;
}

.pricing {
        display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            height: 120px;
}

.dishPrice {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    background-color: rgba(238, 237, 221, 0.7);
        width: calc(100%/2);
        height: 100%;
        border-top-right-radius: 8px;
}

.cartAddRemove {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: row;
    width: calc(100%/2);
    height: 100%;
    gap: 16px;
    /* font-size: 24px; */
}

.cartRemoveBtn {
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 56px;
    transition: 0.3s;
    color: black;
    font-family: 'Dance Script', cursive;
}

.cartRemoveBtn:hover,
.cartRemoveBtn:active {
    color: rgba(238, 237, 221, 0.7);
}


.dishQuantity {
    font-size: 24px;
}

.backLink {
    position: absolute;
    top: 20px;
    left: 20px;
    font-size: 24px;
    text-decoration: none;
    color: black;
    transition: 0.3s;
}

.backLink:hover,
.backLink:active {
    /* color: rgba(238, 237, 221, 0.7); */
    color : white;
}